// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chapter-edit {
  padding: 50px 400px;
}

.chapter-view {
  padding: 50px 200px;
  font-family: timesnewroman;
  .title {
    text-align: center;
    font-size: 20px;
    .book-name {
      color: red;
      font-weight: bold;
    }
    .chapter-name {
      color: #b35900;
    }
  }
  .content {
    white-space: pre-line;
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .chapter-view {
    padding: 10px 30px;

    .content {
      text-align: justify;
    }
  }
}
